### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### Firebase / Node
node_modules/
firebase-debug.log
firebase-debug.*.log
.firebase/
.secret.local
.secret.*.local
.env*
!.env.example
